.vs
bin/*
!bin/AssemblyReader.exe
!bin/AssemblyReader.pdb
!bin/ActivitiesEx.dll
!bin/ActivitiesEx.pdb
!bin/Bart.UiPathActivities.*.nupkg
WorkflowTestConsole/bin
WorkflowTestConsole/obj
InvokeMethodEx/bin
InvokeMethodEx/obj