.vs
bin/*
!bin/AssemblyReader.exe
!bin/AssemblyReader.pdb
!bin/ActivitiesEx.dll
!bin/ActivitiesEx.pdb
!bin/Bart.UiPathActivities.*.nupkg
AssemblyReader/bin
AssemblyReader/obj
InvokeMethodEx/bin
InvokeMethodEx/obj